@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes scale {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
    
}
body{
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #13678A;
    height: 65px;
    display: flex;
    justify-content: center;
}
.container-header{
    display: flex;
    justify-content: center;
}
.logo{
    width: 170px;
}
.logo img{
    width: 100%;
}
.center{
    max-width: 900px;
    margin: 0 auto;
}
.container-titulo-principal{
    width: 100%;
    padding: 50px 30px;
    background-image: url(../image/cool-background\ \(1\).png);
}
.box-title{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box-title h1{
    font-size: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.box-title img{
    height: 90px;
}
.box-title img{
    animation-name: scale;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
.container-produtos-secundario{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.container-produtos-principal{
    margin-bottom: 80px;
}
.produto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}
.informacoes{
    display: flex;
    flex-direction: column;
    height: 150px;
    position: relative;
}
label{
    text-align: center;
    font-size: 1em;
}
.produto img{
    width: 195px;
    height: 195px;
}
.saiba-mais{
    padding: 8px 0;
    width: 90%;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color:#13678A ;
    position: absolute;
    bottom: 0;
    left:10px;
    margin-bottom: 20px;
}

@media (max-width:900px){
    .center{
        width: 80%;
    }
    .container-produtos-secundario{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box-title h1{
        font-size: 30px;
    }
    .container-titulo-principal{
        padding: 50px 30px;
    }
}

@media (max-width:720px){
    .center{
        width: 90%;
    }
    .container-produtos-secundario{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box-title h1{
        font-size: 25px;
    }
}

@media (max-width:600px){
    .center{
        width: 90%;
    }
    .container-produtos-secundario{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .box-title img{
        height: 70px;
    }
    .produto img{
        width: 100%;
    }
}

@media (max-width:500px){
    .container-produtos-secundario{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .center{
        width: 98%;
    }
}

@media (max-width:350px){
    .center{
        width: 95%;
    }
    .container-produtos-secundario{
        grid-template-columns: 1fr;
    }

}